version: '3'

services:
  mobile-web-do:
    container_name: mobile-web-do__dev_server
    restart: always
    build:
      context: .
      dockerfile: ./server/Dockerfile.dev
    environment:
      NODE_ENV: development
      PORT: 3000
      DB_HOST: mongodb://mongo:27017/mobile-web-do
    links:
      - mongo
    ports:
      - 3095:3000
    networks:
      - mwdnet
    depends_on:
      - mongo
  mongo:
    container_name: mobile-web-do_storage__dev_server
    image: mongo
    ports:
      - "27017:27017"
    networks:
      - mwdnet
networks:
  mwdnet: